// SHARED

.hidden-scrollbar {
  &::-webkit-scrollbar {
    width: 1px;
  }
}

.link-clean {
  text-decoration: none;
}

// MOVIE CARDS

.movie-card {
  width: 250px;
  height: 300px;
  overflow: auto
}

.movie-poster {
  width: 250px;
  height: 375px;
}

.border-radius-30 {
  border-radius: 30px;
}

// BOOKMARK CARDS

.bookmark-card {
  width: 500px;
  height: 375px;
}

.height-bookmark-card {
  height: 375px;
}

.btn-round {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.position-delete {
  position: absolute;
  // top: 0px
  left: calc(50% - 20px);
  top: calc(100% - 20px);
}

// LIST PREVIEW CARDS

.list-preview-card {
  width: 18rem;
  border-radius: 2px
}
